<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<title>Form Page</title>
</head>
<body>
	<div class="navbar navbar-expand-lg bg-primary"></div>

	<div class="container">

		<ul>
			<li><a href="student/list">Students</a></li>
			<li><a href="professor/list">Professors</a></li>
			<li><a href="section/list">Sections</a></li>
			<li><a href="pfe/list">List of PFE</a></li>
			<li><a href="defense/list">Defense Sessions</a></li>
			<li><a href="meeting/list">Meetings </a></li>
		</ul>
	</div>
</body>
</html>
