<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:th="http://www.thymeleaf.org">
<head> 
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<title> Edit Page</title>
</head>
<body>

		<div th:replace="header :: admin_header">
</div>
	
	<div align="center">
		<h2>Pfe Edit</h2>
		<br />
		
		<form th:action="@{/pfe/save}" method="post" th:object="${pfe}" >
		<table cellpading="10">
					<tr><td><label>Id:</label> </td><td th:text="${pfeId}"></td></tr>
					<tr>
					<td><label>Tilte:</label></td>
					<td colspan="3"><input type="text" th:field="*{title}"
						class="form-control" /></td></tr>
					<tr><td><label>Supervisor:</label></td>
					<td><select class="form-control" th:field="*{supervisor.userId}" >
								<option value="0">Choose</option>
							<option th:each="prof : ${profs}" th:value="${prof.userId}"
								th:text="${prof.lname+' '+prof.fname}"></option>
					</select></td>
					<td><label>Student:</label></td>
					<td><select class="form-control" th:field="*{student.userId}" >
								<option value="0">Choose</option>
							<option th:each="s : ${students}" th:value="${s.userId}"
								th:text="${s.lname+' '+s.fname}"></option>
					</select></td>
				</tr>
				<tr>
					<td><label>Description:</label></td>
					<td colspan="3"><input type="text" th:field="*{description}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><label>Defense Date:</label></td>
					<td><input type="text" th:field="*{defenseDate}"
						class="form-control" /></td>
					<td><label>Defense Time:</label></td>
					<td><input type="text" th:field="*{defenseTime}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><label>Room:</label></td>
					<td><input type="text" th:field="*{room}" class="form-control" /></td>
					<td><label>State:</label></td>
					<td><input type="text" th:field="*{state}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><label>Note:</label></td>
					<td><input type="text" th:field="*{note}" class="form-control" /></td>
					<td><label>Mention:</label></td>
					<td><input type="text" th:field="*{mention}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><label>Validator:</label></td>
					<td><select class="form-control" th:field="*{validator.userId}" >
								<option value="0">Choose</option>
							<option th:each="prof : ${profs}" th:value="${prof.userId}"
								th:text="${prof.lname+' '+prof.fname}"></option>
					</select></td>
					<td><label>Reporter:</label></td>
					<td><select class="form-control" th:field="*{reporter.userId}" >
								<option value="0">Choose</option>
							<option th:each="prof : ${profs}" th:value="${prof.userId}"
								th:text="${prof.lname+' '+prof.fname}"></option>
					</select></td>
				</tr>

				<tr>
					<td colspan="4" align="center">
						<button type="submit" class="btn-warning btn-block">Save</button>
					</td>
				</tr>
	
		</table>
		</form>
		
	</div>

</body>
</html>
