<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<title>Form Page</title>
</head>
<body style="background-image:url(img/university.jpg); ">
	<div class="header" style="height: 260px">
		<div th:replace="header :: index_header"></div>
	</div>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class=" col-md-6 text-white" >
				<div class="area">
					<div class="fieldsetLog bg-dark" style="padding: 30px;">
						<form class="form-horizontal" th:action="@{/professor/login_professor}"
							method="post" th:object="${professor}">

							<div class="heading">
								<h4 class="form-heading">Sign In</h4>
							</div>

							<div class="control-group">
								<label class="control-label" for="Matricul">Matricul</label>

								<div class="controls">
									<input id="Matricul" placeholder="xxxxxx" type="text"
										th:field="*{matricul}" />
								</div>
							</div>

							<div class="control-group mt-3">
								<div class="controls">
								<button class="btn btn-success btn-block" type="submit">Submit</button>
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

